html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #1e3050;
    color: #f8d65b;
    user-select: none;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 320px;
    max-width: 100%;
    margin: 0 auto 10px;
}

input {
    color: #fff;
    background-color: rgba(0,0,0,.3);
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    margin: 10px 0;
}

input:focus {
    box-shadow: inset 0 0 0 4px #87e3c0;
}

button {
    color: #1e3050;
    background-color: #66e0a7;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    transition: all ease .3s;
}

button span {
    background: #1e3050;
    color: #fff;
    padding: .2em .5em;
    border-radius:50%;
}

button:hover,
button:focus {
    background-color: #019c6b;
    color: #fff;
    cursor: pointer;
}

button:hover span,
button:focus span {
    background-color: #fff;
    color: #1e3050;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background: #bcdeff;
    color: #1e3050;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    transition: all ease .3s;
}

ul li:hover,
ul li:focus,
ul li:active {
    background-color: #f8d65b;
    cursor: pointer;
}

.deleted {
    text-decoration: line-through;
    animation: drop ease-out .75s;
}

@keyframes drop {
    0% {
        opacity:1;
    }
    100% {
        opacity:0;
        translate: 0 250px;
        transform: rotate(180deg);
    }
}